<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.medicagend">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/iconemassa"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/iconemassa_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityCadastros" />
        <activity android:name=".ActivityConsultas" />
        <activity android:name=".ActivityCadastrarMedico" />
        <activity android:name=".ActivityCadastrarConsulta" />
        <activity android:name=".ActivityCadastrarPaciente" />
        <activity android:name=".ActivityConsultarConsultas" />
        <activity android:name=".ActivityConsultarMedico" />
        <activity android:name=".ActivityConsultarPaciente" />
        <activity android:name=".EditarConsultActivity" />
        <activity android:name=".EditarPacienteActivity" />
        <activity android:name=".EditarMedicoActivity" />
    </application>

</manifest>